input:not( [type="submit"], [type="checkbox"], [type="radio"] ) {
    background-color: var(--color-dark-100);
    border: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-size: var(--font-size-small);
    color: var(--color-dark-900);
    &::placeholder{
        color: var(--color-dark-700);
    }
    &:focus{
        outline: none;
        border: 2px solid var(--color-accent);
        background-color: transparent;
    }

}