.post {
    margin-bottom: 1rem;
    margin-top: 1rem;

    &__date, &__type{
        background-color: hsla(189, 100%, 37%, 0.1);
        color: var(--color-dark-500);
        display: inline-block;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        text-transform: capitalize;

        & + h3{
            margin-top: 1rem;
        }
    }

    &__title {
        margin: 1rem 0;
    }

    &__content p {
        color: var(--color-light-900);
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-dark-150);

        h3{
            border-bottom: 0 !important; 
        }
    }
}