body{
    background-color: var(--color-dark);
    color: var(--color-light);
}


.doc-header, 
.doc-content, 
.doc-footer{
    display: grid;
    grid-template-columns: var(--grid-container);

    &__inner{
        grid-column: inner;
    }
}

.doc-content{
    min-height: 100vh;
    padding-top: var(--menu-height);
    
    &__inner{
    display: grid;
    gap: 4rem;
    grid-template-columns: minmax(200px, 250px) 1fr minmax(200px, 300px);
    transition: all 0.4s;
    }

    &--closed-sidebar{
        .doc-content__inner{
            grid-template-columns: minmax(0, 50px) 1fr minmax(200px, 300px);

        }
    }
}